<!DOCTYPE html>
<html>
<head>
	<title>Karthick Nagarajan</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<%= csrf_meta_tags %>
</head>
<body id="page-top">

	<%= yield %>

</body>
</html>
<script type="text/javascript">
	document.addEventListener("turbolinks:load", function() {
	$("#addClass").click(function () {
		$('#sidebar_secondary').addClass('popup-box-on');
	});

	$("#removeClass").click(function () {
		$('#sidebar_secondary').removeClass('popup-box-on');
	});
	// Smooth scrolling using jQuery easing
	$('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
		if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
			if (target.length) {
				$('html, body').animate({
					scrollTop: (target.offset().top - 48)
				}, 1000, "easeInOutExpo");
				return false;
			}
		}
	});

	// Closes responsive menu when a scroll trigger link is clicked
	$('.js-scroll-trigger').click(function() {
		$('.navbar-collapse').collapse('hide');
	});

	// Activate scrollspy to add active class to navbar items on scroll
	$('body').scrollspy({
		target: '#mainNav',
		offset: 54
	});
});

$(window).scroll(function() {
	if ($("#mainNav").offset().top > 100) {
		$("#mainNav").addClass("navbar-shrink");
	} else {
		$("#mainNav").removeClass("navbar-shrink");
	}
});
</script>
